<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    

    <nav>
        
            
                <a href="/">Home</a>
            
            
                <a href="/form">Formulario</a>
            
            
                <a href="/projeto">Projeto</a>
            
        
    </nav>
    <main>
        {% block conteudo %}
        {%  endblock %}
    </main>
<footer>
    🄯COPYLEFT
</footer>
    
</body>
</html>