{%  extends "base.html" %}

{% block conteudo %}
    
    <a href="/usuario/add">+ Adicionar</a>
        <table>
            <tr>
                <th>Nome</th>
                <th>Data inicio</th>
                <th>Data termino</th>
            </tr>
            {% for usuario in dados%}
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.data_inicio}}</td>
                <td>{{usuario.data_termino}}</td>
            </tr>
            {% endfor %}
        </table>


{%  endblock %}