{%  extends "base.html" %}

{% block conteudo %}
    
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
    {% for msg in mensagens %}
        {{ msg }}
        {% endfor %}
    {% endif %}   

<a href="/projeto/add">+ Adicionar</a>
        <table>
            <tr>
                <th>Nome Projeto</th>
                <th>Data inicio</th>
                <th>Data termino</th>
                <th>Editar</th>
                <th>Remove</th>
            </tr>
            {% for projeto in dados%}
            <tr>
                <td>{{projeto.nome}}</td>
                <td>{{projeto.data_inicio}}</td>
                <td>{{projeto.data_termino}}</td>
                <td>
                    <a href="/projeto/edita/{{projeto.id}}">Editar</a>
                </td>
                <td>
                    <a href="/projeto/remove/{{projeto.id}}">remover</a>
                </td>
            </tr>
            {% endfor %}
        </table>


{%  endblock %}