@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Comic Neue';
}

:root {
    --primary: rgb(131, 181, 238);
    --secondary: rgb(128, 172, 223);;
    --black: #000;
    --white: #FFF;
}

a, input{
    display: flex;

}

img{
    width: 20rem;
}


div.message{
    color: red;
    font-size: large;
    font-weight: bold;
}

/*header*/

header{
    display: flex;
    background-color: var(--primary);
    justify-content: space-between;
    height: 6rem;
    
}

header p{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
}

nav{
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: var(--white);
    display: flex;
}

/*main*/

main{
    background-color: var(--white);
    min-height: calc(100vh - 10.3rem);
    background-color: rgb(175, 173, 173);
}

main h1{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div img{
    width: 40rem;
    background-color: var(--secondary);
}

main div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
}
/*filme*/

.tab_filme tr, td, th{
    border: 2px solid var(--primary);
    border-collapse: collapse;
    
}

table, tr, td{
    border: 1px solid var(--black);
    border-collapse: collapse;
    margin: 2rem;
}

td.materia{
    text-align: start;
}

table{
    margin-left: auto;
    margin-right: auto;
}

table tr td b{
    display: flex;
    justify-content: center;
}

table tr td{
    padding: 5px;
    text-align: center;
}


/*footer*/

footer{
    background-color: var(--secondary);
    height: 2rem;
}

footer label{
    font-size: 1.5rem;
    color: var(--white);
}
form{
    background-color: rgb(219, 219, 219);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px - 4rem);
    padding: 10px; 
    background-color: beige;
     
}